
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index Admin</title>
</head>
<body>
    <div> 
        <h1>Admin Home Index</h1>
        @Html.ActionLink("Index", "Index", "Home")
      
        <hr />
    </div>
</body>
</html>
