@model WebApplication76.Models.LoginModel
@{
    ViewBag.Title = "Вход";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Вход</h2>
@using (Html.BeginForm("Enter", "Home"))
{
    @Html.LabelFor(m => m.login)
    <br />
    @Html.TextBoxFor(m => m.login)
    <br />
    @Html.LabelFor(m => m.password)
    <br />
    @Html.TextBoxFor(m => m.password)
    <br />
    <br />
    <input class="btn btn-info" type="submit" name="submit" value="Вход" />
}
