@model WebApplication35.Models.AccountModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Registration</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <input type="submit" value="Register" />
}