
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<br />
<hr />
@Html.ActionLink("О нас", "About", "Home")
<br />
<hr />
@Html.ActionLink("Контакты", "Contact", "Home")
<br />
<hr />