@model WebApplication23.Models.UserModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserView</title>
</head>
<body>
    <div>
        @Html.ActionLink("Главная", "Index", "Home") 
        <br />
        <hr />
        @using (Html.BeginForm("Create", "Home"))
        {
            @Html.EditorForModel()
            <br />
            <hr />
            <input type="submit" name="mySubmiy" value="Создать" />
        }
    </div>
</body>
</html>
