
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="/Home/Index">Click !data</a>
        <a href="/Home/Index?id=Test data">Click data</a>

        @ViewBag.rez
    </div>
</body>
</html>
