
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div> 
        <h1>Home About User</h1>
        @Html.ActionLink("Index", "Index", "Home")
        <hr />
        @Html.ActionLink("Contacts", "Contacts", "Home")
        <hr />
    </div>
</body>
</html>
