
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contacts</title>
</head>
<body>
    <div> 
        <h1>Home Contacts User</h1>
        @Html.ActionLink("Index", "Index", "Home", "Admin")
        <hr />
        @Html.ActionLink("Index", "Index", "Home")
        <hr />
        @Html.ActionLink("About", "About", "Home")
        <hr />
    </div>
</body>
</html>
